<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Error.jsp</location>
    </error-page>

    <context-param>
        <param-name>phonePattern</param-name>
        <param-value>[0-9]{10}</param-value>
    </context-param>

    <context-param>
        <param-name>phoneTitle</param-name>
        <param-value>The phone number must contain 10 digits</param-value>
    </context-param>

    <context-param>
        <param-name>emailPattern</param-name>
        <param-value>^[A-Za-z0-9+_.-]+@(.+)$</param-value>
    </context-param>

    <context-param>
        <param-name>emailTitle</param-name>
        <param-value>Please provide a valid email address</param-value>
    </context-param>
</web-app>